.stepper {
    padding: 20px;
}

.mat-stepper-vertical {
    margin-bottom: 20px;
    /* border-left: 1px solid lightgray; */
}

.mat-form-field {
    margin-top: 16px;
}

::ng-deep .mat-step-header .mat-step-icon {
    background-color: #4e73df;
}